/*Created with Adobe RoboHelp*/
/*use this to center image*/
.center-horizontal {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*Note styles*/
.note {
  font-family: Inter;
  font-size: 1rem;
  border-left: 4px solid #2B77CB;
  padding-left: 0.5rem;
  margin-left: 1rem;
}
.note2 {
  font-family: Inter;
  font-size: 1rem;
  border-left: 4px solid #2B77CB;
  padding-left: 0.5rem;
  margin-left: 3rem;
}
.column {
  float: left;
  width: 47%;
  margin-left: 1%;
  margin-right: 1%;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
/*Horizontal Page Dividers*/
.horizontal-rule-align-left {}
.hrule {
  background: #2B77CB;
  height: 4px;
  width: 20%;
  border: none;
  margin-left: 0;
  margin-top: 3em;
  margin-bottom: 3em;
}
.hrule-inner {
  background: #c0c0c0;
  margin-top: 1.75em;
  margin-bottom: 2.5em;
  margin-left: auto !important;
  margin-right: auto !important;
  height: 1px;
  width: 90%;
  border: none;
}
/*Lists*/
